section.bloc1{background-color:#DB7B1A;}
section.bloc2{background-color:#FFB870;}
section.bloc3{background-color:#F0C090;}
span.action{text-align:center}
nav {text-align:right}
section {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
	}
div {
    padding-top: 10px;
   	padding-bottom: 10px;
  	padding-right: 10px;
   	padding-left: 10px;
 }